* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.justify-left {
    justify-content: left;
}

.favourite-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

#dog-image {
    height: 300px;
}